<div *ngIf="employee != null || employee != undefined">
  <div class="card-deck">
    <div class="card">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body float-right">
        <h5 class="card-title">
          {{employee.name}}
        </h5>
        Phone: {{employee.phone}} <br>
        Email: {{employee.email}} <br>
        Contact On: {{employee.contact_prefarence}} <br>
        Gender: {{employee.gender}} <br>
        Date of Birth: {{employee.birthdate}} <br>
        Address: {{employee.address}} <br>
      </div>
      <div class="card-footer">
        <!--(click)="goBacktoList()"-->
        <!-- <div class="pull-left">
          <button class="btn btn-secondary pull-left" (click)="goBacktoList()">Go Back</button>
        </div>
        <div class="pull-left">
          <button class="btn btn-primary pull-left" (click)="viewNextEmployee()">View Next</button>
        </div>
        <div class="pull-left">
          <button class="btn btn-danger pull-left" (click)="deleteEmployee(employee.id)">Delete</button>
        </div>
        <div class="pull-left">
          <button class="btn btn-info pull-left" (click)="updateEmployee(employee.id)">Update</button>
        </div> -->
        <button class="btn btn-secondary pull-left" (click)="goBacktoList()">Go Back</button>
        <button class="btn btn-primary pull-left" (click)="viewNextEmployee()">View Next</button>
        <button class="btn btn-danger pull-left" (click)="deleteEmployee(employee.id)">Delete</button>
        <button class="btn btn-info pull-left" (click)="updateEmployee(employee.id)">Update</button>
      </div>
    </div>
  </div>
</div>