<form #createEmpForm="ngForm" (ngSubmit)="saveEmployee()">
    <div class="card" style="width: 70%;">
        <div class="card-body">
            <h5 class="card-title">Create Employee</h5>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="name" class="conrol-label">Name</label>
                    <input id="name" type="text" class="form-control" 
                            [(ngModel)]="employee.name" name="empName">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input id="email" type="text" class="form-control" 
                            [(ngModel)]="employee.email" name="empEmail">
                </div>
                <div class="form-group col-md-6">
                    <label for="phone">Phone</label>
                    <input id="phone" type="text" class="form-control" 
                            [(ngModel)]="employee.phone" name="empPhone">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Contact Preference</label>
                    <div class="form-control">
                        <label class="radio-inline">
                            <input type="radio" value="Email" 
                                    [(ngModel)]="employee.contact_prefarence" name="prefsdarence">
                            Email
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="Phone" 
                                    [(ngModel)]="employee.contact_prefarence" name="prefarence">
                             Phone
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="gender" class="control-lavel">Gender</label>
                        <select id="gender" class="form-control" name="empGender" 
                                [(ngModel)]="employee.gender" >
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="birthdate" class="control-lavel">Date of Birth</label>
                    <input id="birthdate" type="date" class="form-control" 
                            [(ngModel)]="employee.birthdate" name="empbirthdaate">
                </div>
                <div class="form-group col-md 06">
                    <label for="address" class="control-lavel">Address</label>
                    <input id="address" type="text" class="form-control" 
                            [(ngModel)]="employee.address" name="empaddress">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="image" class="control-label">Upload Image</label>
                    <input type="file" accept="image/*" (change)="handleFileInput($event.target.files)" 
                            id="image" [(ngModel)]="employee.userImage" class="file-upload" name="empimage"/>
                </div>
                <div class="form-group col-md-6">
                    <img [src]="localImageUrl" class="rounded float-left" style="width: 200px; height: 200px;">
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-info">Save</button>
            </div>
        </div>
    </div>
</form>
<br>
{{createEmpForm.value | json}}
<br>
<br>
From Employee Model: {{employee | json}}