<div class="row">
    <div class="col-5">
        <div class="card" style="background-color: ghostwhite;">
            <form #createDepartment="ngForm" (ngSubmit)="saveDepartment()">
                <div class="card-header">
                    <h4>Create Department</h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <label for="name">Name</label>
                        <input type="text" id="deptname" name="dept_Name" [(ngModel)]="department.name"
                            class="form-control">
                    </div>
                    <div class="form-row my-2">
                        <label for="code">Code</label>
                        <input type="text" id="code" name="dept_code" [(ngModel)]="department.code"
                            class="form-control">
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <app-list-department></app-list-department>
    </div>
</div>
<br>
<div class="row">

</div>